body { 
    background-color: #97a0e7;
}

body {
     
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


header {
    background-color: #7660e4;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
}

.main {
    padding: 20px;
}

.recipe-form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #8eb1fe;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-form h2 {
    margin-top: 0;
}

.recipe-form input,
.recipe-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.recipe-form button {
    background-color: #b2c9ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.recipe-form button:hover {
    background-color: #79e0ff;
}

.recipes-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.recipe-card {
    background-color: #99fbe9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(157, 234, 246);
}

.recipe-card h3 {
    margin-top: 0;
}

.recipe-card img {
    max-width: 100%;
    border-radius: 4px;
}
